@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Medium.ttf);
    font-weight: 500;
}


:root{
    --blue: hsl(201,78%,46%);
    --white: #ffffff;
    --gray: hsl(214,31%,91%);
    --yellow: hsl(41,86%,55%);
}


body{
    margin: 0px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1.3fr 5fr;
    grid-template-rows: min-content 1fr;
}

.header .top-bar{
    background-color: var(--white);
    grid-column: 2/3;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(min-content, 600px) auto;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.header .top-bar .search-container{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    gap: 10px;
    padding-left: 5px;
}

.header .top-bar .search-container input[type='search']{
    border-radius: 7px;
    border-width: 0px;
    background-color: var(--gray);  
}

.header .top-bar .profile-container{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.header .top-bar .profile-container img{
    min-width: 30px;
    max-width: 36px;
    border-radius: 50%;
    align-self: center;
}

.header .top-bar .profile-container h1{
    font-size: 1.2rem;
    padding-right: 10px;
}

.header .main-bar{
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 5px;
}

.header .main-bar .greeting{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, min-content);
    column-gap: 10px;
}


.header .main-bar .greeting img{
    width: 60px;
    grid-row: 1/3;
    margin: 0px 10px 5px 10px;
    border-radius: 50%;
}
.header .main-bar h1{
    font-size: 1.6rem;
    margin: 0;
}

.header .main-bar p{
    margin: 0 0 2px 0;
    align-self: flex-end;
}

.header .main-bar .action-buttons{
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: min-content;
    gap: 15px;
    position: relative;
    bottom: 4px;
}

.header .main-bar .action-buttons button{
    padding: 8px 20px;
    border-radius: 15px;
    border-width: 0;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 500;
    font-size: 0.95rem;
}

.sidebar{
    background-color: var(--blue);
    color: var(--white);
    grid-row: 1/3;

    display: grid;
    font-weight: 500;
    font-size: 0.8rem;
    grid-template-rows: repeat(3,min-content);
    gap: 20px;
}
.sidebar .dashboard-txt{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    gap: 10px;
    padding-left: 15px;
    padding-right: 10px;
    align-items: center;
}

.sidebar .dashboard-txt h1{
    font-size: 1.6rem;
}


.sidebar ul{
    list-style: none;
    padding-left: 25px;
    padding-right: 5px;
}

.sidebar ul li{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr;
    gap: 20px;
    font-size: 1.15rem;
    padding-bottom: 20px;
}

.sidebar ul svg{
    position: relative;
    bottom: 2px;
}

.sidebar ul.options-2{
    margin: 0 ;
}


.content{
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(4, auto) 1fr;
}

.content h1{
    font-size: 1.4rem;
    margin: 0;
    padding: 20px 30px;
}

.content .my-projects{
    grid-row: 2/-1;
    padding: 0px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.content .project{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr min-content;
    column-gap: 10px;
    height: 200px;
    padding-left: 0px;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

.content .project h2{
    
}

.content .project .bottom-buttons {
    grid-column: 2/3;

    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 5px;
    gap: 12px;
}

.content .project button{
    width: 24px;
    height: 24px;
    border: 0;
    background-color: transparent;
}

button.favorite{
    background-image: url(icons/star-plus-outline.svg);
}
button.watch{
    background-image: url(icons/eye-plus-outline.svg);
}
button.share{
    background-image: url(icons/share-variant-outline.svg);
}
.content .project .status-bar{
    width: 7px;
    background-color: var(--yellow);
    grid-row: 1/4;
}


.content .project h2{
    margin: 20px 0 0;
    font-size: 1.35rem;
}

.content .project p{
    font-size: 0.95rem;
}


.content .announcements, .trending{
    background-color: var(--white);
    padding: 20px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.content .announcements div + div{
    border-top: 1.5px solid hsl(0, 0%, 75%);
    padding-top: 10px;
}

.content .announcements h2, .trending h2{
    font-size: 1.1rem;
    margin: 0 10px;
}

.content .announcements p, .trending p{
    font-size: 0.9rem;
    margin: 10px;
    margin-top: 5px;
}



.trending > div{
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr auto;
}

.trending > div + div{
    padding-top: 10px;
    /* border-top: 1.5px solid hsl(0, 0%, 75%); */
}

.trending h2{
    margin: 0 10px;
    font-weight: 500;
}

.trending p{
    grid-column: 2/3;
    grid-row: 2/3;
}


.trending img{
    width: 40px;
    height: 40px;
    object-fit: cover;             /**/
    object-position: center;    /*center and scale, have to recheck docs for drawbacks*/
    border-radius: 50%;

    grid-row: 1/3;
}

button:hover{
    cursor: pointer;
}